<!DOCTYPE html>
<html>
<head>
    <title>Admin Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <span class="navbar-brand">Online Quiz System</span>
    </div>
</nav>
<div class="container mt-5">

    <div class="card shadow p-4">

        <h3 class="mb-4">Admin Dashboard</h3>

        <a href="/add_question" class="btn btn-success mb-3">Add New Question</a>
        <a href="/logout" class="btn btn-danger mb-3 ms-2">Logout</a>

        <table class="table table-bordered">
            <tr>
                <th>ID</th>
                <th>Question</th>
                <th>Action</th>
            </tr>

           {% for q in questions %}
           <tr>
                <td>{{ q[0] }}</td>
                <td>{{ q[1] }}</td>
                <td>
                    <a href="/edit_question/{{ q[0] }}" 
                    class="btn btn-warning btn-sm">Edit</a>
                    <a href="/delete_question/{{ q[0] }}" 
                    class="btn btn-danger btn-sm">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </table>

    </div>

</div>

</body>
</html>